/* ------------------  header section  ------------------- */
div.rich-page-header {
  background: #ffffff;
}

span.userfullname {
  position: absolute;
  top: 42px;
  left: 182px;
  color: #1A3563;
  font-weight: bold;
  font-size: 108%;
}

/* ----- fadeline is a header and footer separator ------- */
div.fadeline {
  height: 6px;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  background: #c3d0db url("img/fadeline_pink.png");
  font-size: 1px;
  line-height: 1px;
}

/* ------------------  center section  ------------------- */
div.rich-page-main {
  background: #ffffff url("img/sfc_fake_column.gif");
  vertical-align: top;
}
/* the floating container with the menu */
div.rich-page-sidebar {
  background-color: #ffffff;
  float: left;
}
/* the most tricky part of the layout */
div.rich-page-main-content {
  background-color: #b4c8d3; /* needed for alignment in IE */
  padding-top:1px;
  /* height:100%; gives us an additional 1px border on the left side */
}
div.rich-page-main-body {
  padding-bottom: 0px;
  padding-top: 1px;  /* needed for h1 content */
  padding-left: 20px;
  padding-right: 10px;
  min-height: 400px;    /* hack for IE6, see: http://www.dustindiaz.com/min-height-fast-hack/ */
  height: auto !important;
  height: 400px;
}

/* ------------------  footer section  ------------------- */
div.rich-page-footer {
  /* position: absolute; */
  /* bottom: 0; */
  background-color: #ffffff; /* needed for alignment in IE */
  width: 100%;
  /* height: 30px;   height of the footer */
  vertical-align: top;
}
div.rich-page-footer form img {
  vertical-align: top;   /* align the flags and theme icons to the top */
}
div.rich-page-footer form {
  vertical-align: top;
  background-color: #ffffff; /* needed for alignment in IE */
  padding: 0px;
  border: 0px;
  margin: 0px;
}

